.box.panel.panel-default.padding10
  .pull-left
    %span.lead= reminder.description

  .pull-right
    = link_to "#", class: "lead btn btn-success" do
      %i.fa.fa-slack
      Send to Slack!

  .clearfix

