.box.panel.panel-default.padding10
  .pull-left
    %span.lead= reminder.description

  .pull-right
    = link_to messages_path(id: reminder), class: "lead btn btn-success", method: :post do
      %i.fa.fa-slack
      Send to Slack!

  .clearfix

